.data {
    display: flex;
}

th, td {
    text-align: left;
    vertical-align: top;
    border: solid 1px #000;
    border-spacing: 0;
    padding: 0.4em;
}

th {
    background: rgb(240, 140, 140);
}

.tables {
    display: flex;
}

.title {
    text-align: center;
}